html {
    --main-bg-color: #0e0e0e;
    --main-font-color: #b9b5b5;
    --main-highlight-color: #fff;
    --main-link-active-color: #fff;
    --main-border-color: #808080 4d;
    --activity-bg-color: #000;
    --footer-height: 100px;
    --main-bg-color-dark: #202020;
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.wrapper, .footer  {
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    overflow: scroll;
    color: var(--main-font-color);
}
.wrapper img {
    max-width: 100%;
    height: auto;
}
.wrapper ul {
    list-style-type: none;
}
.wrapper h1, h2, h3 {
    font-weight: 400;
    margin: 0;
    color: var(--main-highlight-color);
}
.wrapper .button , .footer .button {
    padding: 15px 10px;
    background: transparent;
    border: 1px solid var(--main-font-color);
    border-radius: 20px;
    color: var(--main-font-color);
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.3s;
    letter-spacing: 1.2px;
}
.wrapper .button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
.wrapper .link {
    display: inline-block;
    color: var(--main-font-color);
    padding: 5px;
    text-decoration: none;
    transition: all 0.5s;
}
.wrapper .link:visited, .link:focus .link:hover, .link:active {
    color: var(--main-font-color);
}
.wrapper .link:hover, .link:active, .link:focus {
    color: var(--main-link-active-color);
}
.wrapper {
    margin-top: 50px ;
    display: grid;
    background: var(--main-bg-color);
    grid-gap: 10px;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-areas: "main" "sidebar";
}
@media (min-width: 800px) {
    .wrapper {
        grid-template-columns: 200px auto;
        grid-template-areas: "sidebar main";
   }
}
@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 200px auto 200px;
        grid-template-areas: "sidebar main social";
   }
}
.wrapper .sidebar {
    background: var(--activity-bg-color);
    grid-area: sidebar;
}
.wrapper .sidebar li {
    line-height: 2;
}
.wrapper .sidebar__header {
    margin-bottom: 5px;
}
.wrapper .sidebar__header {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
}
.wrapper main {
    grid-area: main;
    padding: 10px 20px;
    margin-bottom: 200px;
}
@media (min-width: 800px) {
    main {
        padding: 10px 20px calc(var(--footer-height) + 40px);
        margin-bottom: 20px;
   }
}
.wrapper .main__header h1 {
    margin-bottom: 20px;
    font-size: 38px;
}
.wrapper .main__nav {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--main-border-color);
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;
}
.wrapper .main__nav .link {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-size: 13px;
    border-bottom: 2px solid transparent;
    padding-bottom: 11px;
}
.wrapper .main__nav .link.is-active {
    color: var(--main-link-active-color);
    border-bottom: 3px solid green;
}
.wrapper .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
    display: none;
}
@media (min-width: 800px) {
    .wrapper .main__nav .link:nth-of-type(2), .wrapper .main__nav .link:nth-of-type(3), .wrapper .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
        display: inline;
   }
}
.wrapper .main__playlists h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
}
.wrapper .music__list {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-gap: 20px;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
@media (min-width: 800px) {
    .wrapper .music__list {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
   }
}
@media (min-width: 1200px) {
    .wrapper .music__list {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
   }
}
@media (min-width: 1600px) {
    .wrapper .music__list {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
   }
}
.wrapper .music__list-item {
    padding: 10px;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.wrapper .music__list-item:hover {
    opacity: 1 !important;
}
.wrapper .activity {
    grid-area: social;
    display: none;
    background-color: var(--activity-bg-color);
    padding-left: 20px;
}
.wrapper .activity h2 {
    margin: 30px 0;
}
@media (min-width: 1200px) {
    .wrapper .activity {
        display: block;
   }
}
.footer {
    position: fixed;
    display: grid;
    height: var(--footer-height);
    grid-template-columns: 150px 1fr auto;
    bottom: 50px;
    left: 350px;
    border-radius: 10px;
    grid-gap: 20px;
    background: var(--main-bg-color-dark);
    padding: 20px 20px 100px;
    width: 50%;
    align-items: center;
    justify-content: center;
}
@media (min-width: 800px) {
    .footer {
        grid-template-columns: 250px 1fr 60px;
   }
}
.now-playing {
    display: flex;
}
.album__image {
    width: 100px;
    height: 100px;
}
.album__musician, .album__title {
    display: block;
}
.album__info {
    padding-left: 15px;
}
.album__title {
    color: var(--main-highlight-color);
    margin-bottom: 5px;
}
.album__musician {
    font-size: 13px;
}
.wrapper i, .footer i {
    color: var(--main-font-color);
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}
.wrapper i:hover, .footer i:hover {
    color: var(--main-link-active-color);
}
.footer i.fa-play-circle {
    font-size: 21px;
}
.footer i.fa-play-circle:hover {
    transform: scale(1.2);
}
.footer .play-controls {
    align-self: center;
    justify-self: center;
}
.footer .play-device-controls {
    align-self: center;
}
.footer .song__title {
    font-size: 18px;
    color: var(--main-highlight-color);
    margin-bottom: 8px;
}
.footer .song__creator {
    font-size: 12px;
}



.footer .music__album-item {
    height: 300px;
    width: 300px;
    padding: 10px;
    min-height: 250px;
    color: --main-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.footer .song__list {
    display: inline-flexbox;
    grid-template-columns: minmax(200px, auto);
    grid-gap: 20px;
    width: 100px;
    height: 350px;
    padding: 0;
    margin: 0;
}

.table-striped {
    table-layout: fixed;
}

table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
}

.wrapper table,
.wrapper td,
.wrapper th {
    border-collapse: collapse;
}
  
  .wrapper th,
  .wrapper td {
    padding: 10px;
    text-align: center;
}

.album_n {
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}